{% extends "layout.html" %} {% block content %}

<div class="content">
  <form method="POST" action="">
    {{ form.hidden.tag() }}
    <fieldset>
      <legend>Login</legend>
      <div class="">
        {{ form.username.label(class=" ") }}

        {% if form.username.errors %}
        {{ form.username(class= " is-invalid") }}
        <div class="">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.username(class= " ") }}
        {% endif %}
      </div>

      <div class="">
        {{ form.password.label(class=" ") }}

        {% if form.password.errors %}
        {{ form.password(class= " is-invalid") }}
        <div class="">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(class= " ") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="">
      {{ form.submit(class= " ") }}
    </div>
  </form>
</div>
<div class="">
  <small class="">
    Don't have an account?
    <a href="{{ url_for('register') }}"> Register Here</a>
  </small>
</div>
<div>
  <small class="">
    Forgotten your password?
    <a href="#"> click Here</a>
  </small>
</div>
{% end block content %}
